<div id="toggle-datatable-columns" class="modal fade">
  <div class="modal-dialog" style="width:300px;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="caption"><strong>Show/Hide Columns</strong></div>
        <div class="cancel">
          <a class="cancel_link" href="#" data-dismiss="modal">X</a>
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="column-checkbox">
            <label><input class="licences-column" type="checkbox" data-val="0" checked> Email</label>
          </div>
          <div class="column-checkbox">
            <label><input class="licences-column" type="checkbox" data-val="1" checked> Name</label>
          </div>
          <div class="column-checkbox">
            <label><input class="licences-column" type="checkbox" data-val="2" checked> Country</label>
          </div>
          <div class="column-checkbox">
            <label><input class="licences-column" type="checkbox" data-val="3" checked> Licence Desccription</label>
          </div>
          <div class="column-checkbox">
            <label><input class="licences-column" type="checkbox" data-val="4" checked> Cameras</label>
          </div>
          <div class="column-checkbox">
            <label><input class="licences-column" type="checkbox" data-val="5" checked> Storage</label>
          </div>
          <div class="column-checkbox">
            <label><input class="licences-column" type="checkbox" data-val="6" checked> Period</label>
          </div>
          <div class="column-checkbox">
            <label><input class="licences-column" type="checkbox" data-val="7" checked> Created Date</label>
          </div>
          <div class="column-checkbox">
            <label><input class="licences-column" type="checkbox" data-val="8" checked> Start Date</label>
          </div>
          <div class="column-checkbox">
            <label><input class="licences-column" type="checkbox" data-val="9" checked> End Date</label>
          </div>
          <div class="column-checkbox">
            <label><input class="licences-column" type="checkbox" data-val="10" checked> Expires In</label>
          </div>
          <div class="column-checkbox">
            <label><input class="licences-column" type="checkbox" data-val="11" checked> Amount</label>
          </div>
          <div class="column-checkbox">
            <label><input class="licences-column" type="checkbox" data-val="12" checked> Auto Renew</label>
          </div>
          <div class="column-checkbox">
            <label><input class="licences-column" type="checkbox" data-val="13" checked> Status</label>
          </div>
          <div class="column-checkbox">
            <label><input class="licences-column" type="checkbox" data-val="14" checked> Action</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
