/*CAMERA INDEX PAGE*/
#user-cameras-snapshots {
  .camera-name a {
    color:#aaa;
    transition:all 0s linear 0.2s,all 0.3s linear;
  }
  .camera-name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight:300;
    color:#f5f5f5;
  }
  .camera-index:hover .camera-name a {
    color:#fff;
    opacity: 1;
  }
  .camera-info {
    background-image: linear-gradient(
                    to top,
                    rgba(0, 0, 0, .85) 0%,
                    rgba(0, 0, 0, 0.15) 30%,
                    rgba(0, 0, 0, 0) 90%,
                    rgba(0, 0, 0, 0) 100%
    );
    padding: 10px 5px 10px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    pointer-events:none;
    height: 100%;
    width: 100%;
  }
  .offline-grey {
    background: rgba(0, 0, 0, 0.65);
  }
  .offline-snapshot img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}
.camera-index:hover #cam-refresh {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 730px) {
  .nav > li > a {
    padding: 10px 10px;
  }
}
.dropdown-menu{
  width: auto;
}
.nav-tabs,
.nav-pills {
  margin-bottom: 5px;
  margin-top: 8px;
}
.nav-tabs {
border-bottom: 1px solid #e5e5e5;
}
.nav-tabs li a {
  color: #333333;
}
.nav-tabs li a:hover, .nav-tabs li a:active  {
  color: #428bca;
}
.nav-tabs > li > a:hover {
  border:1px solid transparent;
}

.tabbable-custom > .tab-content {
  /*border: none;*/
}
#user-cameras-snapshots{
  padding:0;
}
.margin-top-3 {
  margin-top: 3px;
}
#my-cameras .panel-body, #my-shared-cameras .panel-body {
  padding: 0px 0 4px 0;
  margin-left: -10px;
}
.camera-index {
  overflow: hidden;
  height: 412px;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
@media screen and (max-width: 1600px) {
  .camera-index {
    height: 300px;
  }
}
.add-camera-outer {
  border: 1px solid #e5e5e5;
  height: 412px;
  text-align: center;
}
@media screen and (max-width: 1600px) {
  .add-camera-outer {
    height: 300px;
  }
}
.add-camera-info {

}
.add-camera-icon {
  font-size: 46px;
  line-height: 35px;
}
.add-camera-index {
  color:#333333;
}

.add-camera-index a:hover {
  color:#333333;
}
.link {
  z-index: 100000;
  height: 300px;
}
.snapshot {
  position:relative;
  height: 100%;
  text-align: center;
}
.snapshot img {
  height: 100%;
}

#user-cameras-snapshots .page-content{
  overflow-y:hidden !important;
  overflow-x:hidden !important;
}

.camera-index a:hover {
  color:#fff;
  text-decoration: none;
}

.camera-index:hover .camera-name a {
  color:#fff;
  opacity: 1;
}
.camera-info {
  background-image: linear-gradient(
                  to top,
                  rgba(0, 0, 0, .85) 0%,
                  rgba(0, 0, 0, 0.15) 30%,
                  rgba(0, 0, 0, 0) 90%,
                  rgba(0, 0, 0, 0) 100%
  );
  padding: 10px 5px 10px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  pointer-events:none;
  height: 100%;
  width: 100%;
}
.offline-grey {
  background: rgba(0, 0, 0, 0.65);
}
.offline-snapshot img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.camera-index:hover #cam-refresh {
  visibility: visible;
  opacity: 1;
}

.camera-index:nth-child(3n+1) {
  padding-right: 8px;
}

ul.scroll-menu {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  width: 100%;
  height: auto;
  min-width: 250px;
  max-height: 600px;
  margin: 0;
  border-left: none;
  border-right: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  margin-top: -7px;
  left: -24px;
  padding: 10px 0px;
}



.rotate-refresh-icon {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(360deg);}
  to {-webkit-transform: rotate(0deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform: rotate(360deg);}
  to {-moz-transform: rotate(0deg);}
}

.snapshot-proxy {
  height: auto;
}

.action-cam {
  color: #0000ff;
  cursor: pointer;
}

.vertical-alignment-helper {
  display: table;
  height: 100%;
  pointer-events: none;
  width: 100%;
}

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.modal-content {
  width: inherit;
  height: inherit;
  margin: 0 auto;
  pointer-events: all;
}

#loading-popup {
  text-align: center;
  display: none;
}

.center {
  text-align: left;
}

.delete-cam {
  cursor: pointer;
}

.merge-cam {
  cursor: pointer;
}

.btn-space {
  margin-left: 5px;
}

#api-wait {
  left: 50%;
  position: fixed;
  top: 50%;
  z-index: 99999;
}

#ajx-wait {
  left: 50%;
  position: fixed;
  top: 37%;
  z-index: 99999;
}

.col-xs-12-percent {
  width: 220px;
  float: left;
  margin-left: 5px;
}

.both-inputs {
  width: 940px;
}

.clear-btn-onvif {
  padding: 9px;
  display: inline-block;
  background-color: #428bca;
  float: left;
  color: white;
  border: none;
  margin-left: 5px;
}

/* Syntax highlighting for JSON objects */
ul.json-dict, ol.json-array {
  list-style-type: none;
  margin: 0 0 0 1px;
  border-left: 1px dotted #ccc;
  padding-left: 2em;
}

.json-string {
  color: #0B7500;
}

.json-literal {
  color: #1A01CC;
  font-weight: bold;
}

/* Toggle button */
a.json-toggle {
  position: relative;
  color: inherit;
  text-decoration: none;
}

a.json-toggle:focus {
  outline: none;
}
a.json-toggle:before {
  color: #aaa;
  content: "\25BC"; /* down arrow */
  position: absolute;
  display: inline-block;
  width: 1em;
  left: -1em;
}

a.json-toggle.collapsed:before {
  content: "\25B6"; /* left arrow */
}

/* Collapsable placeholder links */
a.json-placeholder {
  color: #aaa;
  padding: 0 1em;
  text-decoration: none;
}

a.json-placeholder:hover {
  text-decoration: underline;
}

#json-renderer {
  padding: 5px;
  margin-top: 5px;
}

#camera-wait {
  left: 50%;
  position: fixed;
  top: 11%;
  z-index: 99999;
}
