<div id="modal-add-admin" class="modal fade">
  <div class="modal-dialog" style="width:500px;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="caption"><strong>Add Admin</strong></div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <table class="user-table" style="width: 100%;">
            <tr>
              <td><label class="control-label">First Name:</label></td>
              <td><input id="first-name" name="first-name" type="text" class="form-control"/></td>
            </tr>
            <tr>
              <td><label class="control-label">Last Name:</label></td>
              <td><input id="last-name" name="last-name" type="text" class="form-control"/></td>
            </tr>
            <tr>
              <td><label class="control-label">Username:</label></td>
              <td><input id="username" name="username" type="text" class="form-control"/></td>
            </tr>
            <tr>
              <td><label class="control-label">Email:</label></td>
              <td><input id="email" name="email" type="text" class="form-control"/></td>
            </tr>
            <tr>
              <td><label class="control-label">Password:</label></td>
              <td><input id="password" name="password" type="text" class="form-control"/></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button type="button" class="btn btn-default grey" id="save-admin">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
