<div id="share-request-columns" class="modal fade">
  <div class="modal-dialog" style="width:600px;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="caption">Show / Hide Columns</div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <table class="table table-fixed table-borderless">
              <tr>
                <td>
                  <label><input type="checkbox"> Email</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label><input type="checkbox"> Camera</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label><input type="checkbox"> Sharer Email</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label><input type="checkbox"> Message</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label><input type="checkbox"> Rights</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label><input type="checkbox"> Status</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label><input type="checkbox"> Created At</label>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
