<div id="toggle-datatable-columns" class="modal fade">
  <div class="modal-dialog" style="width:300px;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="caption"><strong>Show/Hide Columns</strong></div>
        <div class="cancel">
          <a class="cancel_link" href="#" data-dismiss="modal">X</a>
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="column-checkbox">
            <label><input class="users-column" type="checkbox" data-val="1" checked> Payment Type</label>
          </div>
          <div class="column-checkbox">
            <label><input class="users-column" type="checkbox" data-val="2" checked> Username</label>
          </div>
          <div class="column-checkbox">
            <label><input class="users-column" type="checkbox" data-val="3" checked> Name</label>
          </div>
          <div class="column-checkbox">
            <label><input class="users-column" type="checkbox" data-val="4" checked> Email</label>
          </div>
          <div class="column-checkbox">
            <label><input class="users-column" type="checkbox" data-val="5"> API ID</label>
          </div>
          <div class="column-checkbox">
            <label><input class="users-column" type="checkbox" data-val="6"> API Key</label>
          </div>
          <div class="column-checkbox">
            <label><input class="users-column" type="checkbox" data-val="7" checked> Cameras Owned</label>
          </div>
          <div class="column-checkbox">
            <label><input class="users-column" type="checkbox" data-val="8" checked> Cameras Shared</label>
          </div>
          <div class="column-checkbox">
            <label><input class="users-column" type="checkbox" data-val="9" checked> Cameras Total</label>
          </div>
          <div class="column-checkbox">
            <label><input class="users-column" type="checkbox" data-val="10" checked> Country</label>
          </div>
          <div class="column-checkbox">
            <label><input class="users-column" type="checkbox" data-val="11" checked> Registered</label>
          </div>
          <div class="column-checkbox">
            <label><input class="users-column" type="checkbox" data-val="12"> Confirmed Email</label>
          </div>
          <div class="column-checkbox">
            <label><input class="users-column" type="checkbox" data-val="13" checked> Last Login</label>
          </div>
          <div class="column-checkbox">
            <label><input class="users-column" type="checkbox" data-val="14" checked> Licence Used</label>
          </div>
          <div class="column-checkbox">
            <label><input class="users-column" type="checkbox" data-val="15" checked> Licence Valid</label>
          </div>
          <div class="column-checkbox">
            <label><input class="users-column" type="checkbox" data-val="16" checked> Licence Deficient</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
