<div id="filter-modal-box" style="display: none;">
  <div class="vertical-alignment-helper">
    <div class="vertical-align-center">
      <div class="modal-content">
        <div class="closing">X</div>
        <div class="modal-body">
          <fieldset class="form-group">
            <label for="exampleInputEmail1">Filter:</label>
            <input type="text" class="form-control table-group-action-input">
            <small class="text-muted">username/email/fullname</small>
          </fieldset>
          <fieldset class="form-group">
            <label for="exampleInputPassword1">Licence Deficient:</label>
            <input type="text" class="form-control licence-count">
            <small class="text-muted">numeric</small>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
