<div id="toggle-datatable-columns" class="modal fade">
  <div class="modal-dialog" style="width:300px;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="caption"><strong>Show/Hide Columns</strong></div>
        <div class="cancel">
          <a class="cancel_link" href="#" data-dismiss="modal">X</a>
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="0"> Logo</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="1"> Model ID</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="2" checked> Vendor</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="3" checked> Model</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="4"> Channels</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="5" checked> Snapshot</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="6" checked> H264</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="7" checked> MJPG</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="8" checked> MPEG4</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="9" checked> Mobile</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="10" checked> Low Res</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="11" checked> Username</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="12" checked> Password</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="13"> Audio</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="14"> POE</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="15"> Wifi</label>
          </div>

          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="16"> Onvif</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="17"> PSIA</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="18"> PTZ</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="19"> Infrared</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="20"> Varifocal</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="21"> SD card</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="22"> UPNP</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="23"> Audio IO</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="24"> Shape</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="25"> Resolution</label>
          </div>
          <div class="column-checkbox">
            <label><input class="vendor-models-column" type="checkbox" data-val="26" checked> Action</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
