<div class="jumbotron">
  <div class="container">
  <h2>You have no access to admin dashboard!</h2>
  <p><%= link_to 'back', new_user_session_path, class: 'btn btn-primary btn-lg' %> </p>
</div>
</div>