//= require bootstrap
//= require base/fonts.css
//= require uniform.default.min.css
//= require metronic/bootstrap-switch.min.css
//= require metronic/jquery.gritter.css
//= require metronic/daterangepicker-bs3.css
//= require metronic/fullcalendar.css
//= require metronic/dataTables.bootstrap.css
//= require metronic/jqvmap.css
//= require metronic/tasks.css
//= require metronic/components.css
//= require metronic/layout.css
//= require metronic/portfolio.css
//= require metronic/profile.css
//= require metronic/default.css
//= require metronic/custom.css
//= require views/cameras/cameras.css
//= require views/snapshot_reports/snapshot_reports.css
//= require views/snapshot_extractors/snapshot_extractors.css
//= require views/snapshot_extractors/fullcalendar.min.css
//= require views/snapshot_extractors/chosen.min.css
//= require_self

body {
  color: black;
  direction: ltr;
  font-family: "proxima-nova-regular","Open Sans",Arial,Helvetica,sans-serif;
  font-size: 12px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img {
  width: 18px;
  height: 18px;
}

table.dataTable thead .sorting { background: image-url('metronic/sort_both.png') no-repeat center right; }
table.dataTable thead .sorting_asc { background: image-url('metronic/sort_asc.png') no-repeat center right; }
table.dataTable thead .sorting_desc { background: image-url('metronic/sort_desc.png') no-repeat center right; }

table.dataTable thead .sorting_asc_disabled { background: image-url('metronic/sort_asc_disabled.png') no-repeat center right; }
table.dataTable thead .sorting_desc_disabled { background: image-url('metronic/sort_desc_disabled.png') no-repeat center right; }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler,
.page-sidebar .sidebar-toggler {
  background: image-url('metronic/sidebar_inline_toggler_icon_default.jpg');
}

.page-logo{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#admin-dash_users-show .camera-snapshot{
  .img-responsive{
    width: 100%;
  }
  a.mix-link{
    margin-right: -20px;
  }
  .mix-details{
    opacity: 0.9;
  }
}

.profile-nav .img-responsive{
  width: 100%;
}

#admin-dash_cameras-index,
#admin-dash_users-index{
  .table td a{
    display: block;
  }
}

#map_canvas{
  min-height: 600px;
  height: 100%;
  width: 100%;
}

.dashboard_label{
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

.white{
  color: #fff;
}

.non-editable{
  background-color: transparent !important;
  border: 0;
  cursor: default !important;
}

.btn-menu{
  margin-right: -5px;
  margin-top: -35px;
}

.bb-alert {
  font-size: 16px;
  left: 50%;
  margin-left: -155px;
  padding: 0.8em 1em;
  position: fixed;
  text-align: center;
  top: 14px;
  width: 315px;
  z-index: 100000000000;
}
#signin .bb-alert {
  position: absolute;
  top: 68px;
}

#user-rights-modal{
  font-family: "proxima-nova-bold","Open Sans",sans-serif;
}
#user-rights-modal .radio {
  min-height:24px;
}
#user-rights-modal .radio-inline + .radio-inline {
  margin-left: 0;
}
#user-rights-modal .radio-inline{
  padding-left: 0;
}
#user-rights-modal div.radio {
  margin-top: 5px;
}
.modal-footer {
  padding: 7px;
  text-align: left;
}
#user-rights-modal .form-group {
  margin-bottom: 0;
}
#user-rights-modal .modal-header {
  padding: 9px;
}
#user-rights-modal h5 {
  font-size: 16px;
  font-weight: 500;
}
#user-rights-modal label{
  font-size: 13px;
  font-weight: normal;
}
.change{
  margin-left: 30px;
}

#user-rights-modal .user-table{
  border: 0;
  margin-bottom: 0;
  width: 100%;
}
.user-table td{
  height: 38px;
}
#user-rights-modal .control-label{
  margin-top: 7px;
}
#user-rights-modal .col-md-4{
  padding-left: 5px;
  padding-right: 5px;
}
.form-control{
  background-color: #f0f0f0;
  border: 1px solid #e5e5e5;
  box-shadow: none;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  border-radius: 2px !important;
  -moz-border-radius: 2px !important;
}
div.radio{
  margin-left: 0;
}
#user-rights-modal .form-error{
  font-size: 11px;
}
.btn-edit {
  background-color: #ffffff;
  border: 1px solid #428bca;
  border-radius: 2px !important;
  color: #428bca;
  font-size: 12px !important;
  margin-left: 10px;
  padding: 0px 5px;
  transition: all .2s linear;
}
.btn-edit:hover {
  transition: all .2s linear;
  color: #428bca;
}
.caption{
  font-size: 13px;
  font-weight: 400;
}
#add-vendor-modal .table-borderless > tbody > tr > td, #add-vendor .table-borderless > tbody > tr > td{
  border-top: 0px;
  padding: 2px;
  line-height: 1.42857;
  vertical-align: top;
}
#add-vendor-modal .alert, #add-vendor .alert{
  padding: 7px 10px;
}
#add-vendor-modal .form-group .table .alert, #add-vendor .form-group .table .alert{
  margin-bottom: 0px;
}
div.radio {
  margin-right: 5px;
}
.iradio_flat-blue{
  width:21px;
}
.thumbnail-settings {
  background-color: white;
  overflow: hidden;
  width: 100%;
}
.center-thumbnail {
  height: 100%;
  min-height: 130px;
  text-align: center;
  background-image: asset-url('camera.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.thumbnail-img {
  height: auto;
  width: 100%;
}

.page-content-wrapper .page-content {
  padding: 5px 15px;
}

.red{
  color: #ff0000;
}

.dropdown-checklist {
  position:relative;
  top: 35px;
  z-index: 999;
  visibility: hidden;
  width: 250px;
}

.dropdown-checklist-models {
  display: inline-block;
  visibility: hidden;
  width: 50px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.auto-renewal,
.delete-licence {
  cursor: pointer;
}

/* Checkbox styles */
.page-content .checkbox .chk-span {
  border: 1px solid #aaaaaa;
  color: #aaaaaa;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 14px;
  margin: 5px 10px 10px 1px;
  outline-color: #eaeaea;
  padding: 0;
  position: relative;
  top: 0;
  transition: all 0.2s ease-in-out 0s;
  width: 14px;
  z-index: 1;
}

.page-content .checkbox .chk-span.checked {
  border-bottom-color: #428bca;
  border-left-color: #428bca;
}
.page-content .checkbox .chk-span.checked {
  border-color: transparent transparent #428bca #428bca;
  border-style: solid;
  border-width: 1px 1px 4px 2px;
  top: -2px;
  transform: rotate(-45deg) scaleY(0.5);
}

.page-content .checkbox {
  display: inline-block;
  margin-right: 15px;
}
/* Checkbox styles */

.checkbox label {
  padding-left: 0px;
}

#add-vendor-modal .table, #add-vendor-modal .form-group {
  margin-bottom: 0;
}

.modal {
  margin-right: -16px;
}

ul.columns {
  list-style: none;
}

#toggle-datatable-columns .modal-header,
#modal-add-licence .modal-header {
  background-color: #f3f3f3;
  background-image: linear-gradient(to bottom, white, #e1e1e1);
  background-repeat: repeat-x;
  border-bottom: 1px solid #ccc;
  border-radius: 6px 6px 0 0;
  padding: 6px;
}

#toggle-datatable-columns .cancel_link,
#modal-add-licence .cancel_link {
  color: #cccccc;
  font-size: 16px;
  font-weight: bolder;
  position: absolute;
  right: 16px;
  top: 16px;

}

.modal-header strong {
  line-height: 34px;
  margin-left: 10px;
}

#toggle-datatable-columns .form-group {
  margin-top: 10px;
}

#toggle-datatable-columns .modal-body {
  padding: 8px 15px;
}

#toggle-datatable-columns .column-checkbox {
  margin-bottom: 5px;
}

#toggle-datatable-columns .column-checkbox label {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
}

#toggle-datatable-columns .column-checkbox input[type="checkbox"] {
  cursor: pointer;
}

.delete-venderm {
  cursor: pointer;
}

.snap-online {
  width: 50px;
}

.snap-count {
  width: 75px;
}

.snap-all {
  width: 250px;
}

//----- NumericUpDownControl's Style -----
.numericupdown {}

.val {
  float: left;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
  width: 94.4%;
}

.up {
  background-color: #e5e5e5;
  border: 1px solid #cccccc;
  cursor: pointer;
  height: 17px;
  overflow: hidden;
  padding: 1px;
  vertical-align: top;
  width: 15px;
}

.down {
  background-color: #e5e5e5;
  border: 1px solid #cccccc;
  cursor: pointer;
  height: 17px;
  overflow: hidden;
  padding: 1px;
  width: 15px;
}
//----------------------------------------

.xdsoft_datetimepicker {
  z-index: 99999;
}

#modal-add-licence input,
#modal-add-licence select {
  background-color: #ffffff;
}

.alignment_top {
  margin-top: -13px;
}

.alignment_cameras {
  margin-top: 5px;
}

#cameras_body {
  padding-bottom: 32px;
}

.filter_top {
  margin-top: -59px;
}

.filter_margin {
  margin-right: 49px;
}

.box_button {
  margin-top: -35px;
  float: right;
  width: 41px;
  visibility: visible;
}

.row_margin {
  margin-top: -34px;
}

.label_color {
  background-color: #FFFFFF;
}
