default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password: password

development:
  <<: *default
  database: evercam_dev

test:
  <<: *default
    database: evercam_tst

production:
  <<: *default
  database: evercam_dev