<ul class="page-breadcrumb breadcrumb">
  <%= render 'shared/breadcrumb_basic', current_section: 'Vendors' %>
  <li>
    <div href="#" class="btn btn-edit" data-toggle="modal" data-target="#add-vendor">
      Add Vendor
    </div>
  </li>
</ul>