<div class="bb-alert alert alert-info" style="display:none;">
  <span></span>
</div>
<div class="page-content-wrapper">
  <div class="page-content">
    <div class="row">
      <div class="col-md-12">
        <%= render 'breadcrumb' %>
      </div>
    </div>

    <%= render 'vendor_modal' %>

    <div class="dropdown-checklist" id="div-dropdown-checklist">
      Toggle column:
      <select id="ddl-vendors-columns" class="s1" multiple="multiple">
        <option value="0">Logo</option>
        <option value="1" selected="selected">ID</option>
        <option value="2" selected="selected">Vendor</option>
        <option value="3" selected="selected">Known Macs</option>
      </select>
    </div>
    <div id="vendor-list-row" class="row hide">
      <input type="hidden" id="total_vendors" value=""/>
      <input type="hidden" id="total_cameras" value=""/>
      <div class="col-md-12 table-container">
        <table class="table table-striped table-bordered table-hover" id="datatable_vendors">
          <thead>
          <tr role="row" class="heading">
            <th name="order_vendor_logo" class="sorting">Logo</th>
            <th name="order_vendor_id" class="sorting">ID</th>
            <th name="order_vendor_name" class="sorting">Vendor</th>
            <th name="order_known_macs" class="sorting">Known Macs</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        window.initializeVendors();
    });
</script>