<div id="toggle-datatable-columns" class="modal fade">
  <div class="modal-dialog" style="width:300px;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="caption"><strong>Show/Hide Columns</strong></div>
        <div class="cancel">
          <a class="cancel_link" href="#" data-dismiss="modal">X</a>
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="column-checkbox">
            <label><input class="cameras-column" type="checkbox" data-val="0" checked> Name</label>
          </div>
          <div class="column-checkbox">
            <label><input class="cameras-column" type="checkbox" data-val="1" checked> Owner</label>
          </div>
          <div class="column-checkbox">
            <label><input class="cameras-column" type="checkbox" data-val="2"> Count</label>
          </div>
          <div class="column-checkbox">
            <label><input class="cameras-column" type="checkbox" data-val="3"> Oldest Snapshot</label>
          </div>
          <div class="column-checkbox">
            <label><input class="cameras-column" type="checkbox" data-val="4" checked> Status</label>
          </div>
          <div class="column-checkbox">
            <label><input class="cameras-column" type="checkbox" data-val="5" checked> Duration</label>
          </div>
          <div class="column-checkbox">
            <label><input class="cameras-column" type="checkbox" data-val="6" checked> Interval</label>
          </div>
          <div class="column-checkbox">
            <label><input class="cameras-column" type="checkbox" data-val="7" checked> Schedule HPW</label>
          </div>
          <div class="column-checkbox">
            <label><input class="cameras-column" type="checkbox" data-val="8"> New in last 60min</label>
          </div>
          <div class="column-checkbox">
            <label><input class="cameras-column" type="checkbox" data-val="9" checked> Online</label>
          </div>
          <div class="column-checkbox">
            <label><input class="cameras-column" type="checkbox" data-val="10"> Camera Id</label>
          </div>
          <div class="column-checkbox">
            <label><input class="cameras-column" type="checkbox" data-val="11"> User Id</label>
          </div>
          <div class="column-checkbox">
            <label><input class="cameras-column" type="checkbox" data-val="12"> Thumbnail</label>
          </div>
          <div class="column-checkbox">
            <label><input class="cameras-column" type="checkbox" data-val="13"> Licenced</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
