<div id="add-action" class="modal fade">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" style="width:900px;">
      <div class="modal-content">
        <div class="modal-header">
        	<div class="caption"><h2>Duplicate Cameras</h2></div>
        </div>
        <div class="modal-body">
          <div id="dat"></div>         
        </div>
        <fieldset>
          <div class="modal-footer">
            <button type="button" id="close-dialog" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
