<img src="<%= image_path 'loader3' %>" id="api-wait" style="display:none" />
<div id="add-action" class="modal fade">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" style="width:95%;">
      <div class="modal-content">
        <div class="modal-header">
        	<div class="caption"><h2>Duplicate Cameras</h2></div>
        </div>
        <div class="modal-body">
          <div id="loading-popup"><img src="<%= image_path 'loader3' %>"></div>
          <div id="dat"></div>         
        </div>
        <fieldset>
          <div class="modal-footer">
            <button type="button" id="close-dialog" class="btn btn-default pull-right btn-space" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger pull-right" id="delete-camera">Delete</button>
            <button type="button" class="btn btn-warning pull-right" id="merge-camera">Merge</button>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<div class="bb-alert alert alert-danger" style="display: none;"></div>
<div id="deleteModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <div class="caption">Delete Camera</div>
      </div>
      <div class="modal-body">
        <p class="text-left">Are you sure you want to <strong>Delete</strong> camera?</p>
      </div>
      <div class="modal-footer">
        <div class="col-sm-8 margin-top-10">
          <button id="fdelete-camera" name="delete-camera" class="btn btn-danger pull-left">Delete</button>
          <button name="delete-camera" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bb-alert alert" style="display: none;"></div>
<div id="mergeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <div class="caption">Merge Camera</div>
      </div>
      <div class="modal-body">
        <p>Select a Super Camera <div id="with-cam" class="form-group"></div></p>
      </div>
      <div class="modal-footer">
        <div class="col-sm-8 margin-top-10">
          <button id="fmerge-camera" name="merge-camera" class="btn btn-success pull-left">Merge</button>
          <input type="button" class="btn btn-default pull-left" value="Cancel" data-dismiss="modal">
        </div>
      </div>
    </div>
  </div>
</div>
