<div id="add-action" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:800px;">
    <div class="modal-content">
      <div class="modal-header">
      	<div class="caption">Duplicate Cameras</div>
      </div>
      <div class="modal-body">
      </div>
      <fieldset>
        <div class="modal-footer">
        </div>
      </fieldset>
    </div>
  </div>
</div>
