<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <div class="page-content" id="cameras-report">
    <!-- BEGIN PAGE HEADER-->
    <div class="table-actions-wrapper">
      <div class="row overlapping">
        <div class="form-camera-cleanup-report">
          <div class="camera-cleanup-filter-container">
            <div class="filter-naming">
              Search :
            </div>
            <div class="camera-inputs">
              <input type="text" class="first-inps" placeholder="ID" id="camera-id" autocomplete="off">
              <input type="text" class="first-inps" placeholder="Owner" id="owner" autocomplete="off">
              <input type="text" class="first-inps" placeholder="Owner Email" id="email" autocomplete="off">
              <input type="text" class="first-inps" placeholder="Camera Name" id="camera-name" autocomplete="off">
              <input type="text" class="first-inps" placeholder="Camera IP" id="camera-ip" autocomplete="off">
              <input type="text" class="first-inps" placeholder="Username" id="username" autocomplete="off">
              <input type="text" class="first-inps" placeholder="Password" id="password" autocomplete="off">
              
              <select id="select_months" class="month-select">
                <option selected="selected" value="12">Offline last 12 months</option>
                <option value="24">Last online 24 months</option>
                <option value="36">Last online 36 months</option>
                <option value="48">Last online 48 months</option>
                <option value="60">Last online 60 months</option>
              </select>
              <button class="clear-btn-f" id="btn_delete_cameras">Delete Camera(s)</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <%= render :partial => 'shared/adjust_horizontal_scroll' %>
    <div id="cameras-list-row" class="row hide dt-user-m">
      <div class="col-md-12 filter-top-cam">
        <table class="table table-striped table-bordered table-hover" id="camera_cleanup_datatables">
          <thead>
            <tr role="row" class="heading">
              <th><input type="checkbox" id="chk_select_all"></th>
              <th name="order_created" class="sorting datatable-date">Created At</th>
              <th name="order_last_online" class="sorting datatable-date">Last Online</th>
              <th name="order_id" class="sorting">ID</th>
              <th name="order_owner" class="sorting">Owner</th>
              <th name="order_email" class="sorting">Email</th>
              <th name="order_name" class="sorting">Name</th>
              <th name="order_shares" class="sorting">Shares</th>
              <th name="order_camera_ip" class="sorting">Camera IP</th>
              <th name="order_http_port" class="sorting">Http Port</th>
              <th name="order_rtsp_port" class="sorting">Rtsp Port</th>
              <th name="order_username" class="sorting">Username</th>
              <th name="order_password" class="sorting">Password</th>
              <th name="order_public" class="sorting">Public</th>
              <th name="order_online" class="sorting">Online</th>
              <th name="order_duration" class="sorting datatable-date">Duration</th>
              <th name="order_status" class="sorting">Status</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
    <!-- END PAGE CONTENT-->
    <div id="deleteModal" class="modal fade">
      <div class="modal-dialog width-420">
        <div class="modal-content">
          <div class="modal-body">
            <div class="col-md-12 padding-0">
              <p class="text-left margin-0">Are you sure you want to <strong>Delete</strong> <label id="total_cameras"></label> camera(s)?</p>
            </div>
            <br>
            <div class="col-md-12 margin-top-10 padding-0">
            </div>
          </div>
          <div class="modal-footer padding-15">
            <div class="col-sm-8 padding-0">
              <button id="delete-cameras" name="delete-camera" class="btn btn-danger pull-left">Delete</button>
              <input type="button" class="btn btn-default pull-left" value="Cancel" data-dismiss="modal" />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- END CONTENT -->
<input type="hidden" id="txt_api_url" value="<%= @api_url %>">
<script>
  $(document).ready(function () {
    window.initializeCleanupCameras();
  });
</script>
