<div id="add_edit_company_modal" class="modal fade">
  <div class="modal-dialog" style="width:400px;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="caption"><strong>Company</strong></div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <table class="user-table" style="width: 100%;">
            <tr>
              <td><label class="control-label">Company ID:</label></td>
              <td><input id="txtCompanyId" type="text" class="form-control"/></td>
            </tr>
            <tr>
              <td><label class="control-label">Company Name:</label></td>
              <td><input id="txtCompanyName" type="text" class="form-control"/></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button type="button" class="btn btn-default grey" id="save-company">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
