<div class="bb-alert alert" style="display: none;"></div>
<img src="<%= image_path 'loader3.gif' %>" id="ajx-wait" style="display:none" />
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <div class="page-content" id="snapshots-report">
    <!-- BEGIN PAGE HEADER-->
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <ul class="page-breadcrumb breadcrumb">
          <%= render 'shared/breadcrumb_basic', current_section: "Snapshot Extractor Tool" %>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
      </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="form-horizontal">
      <div class="form-group">
        <label for="inputCameraId" class="col-lg-2 control-label">Camera ID</label>
        <div class="col-xs-3">
          <input type="text" class="form-control" id="inputCameraId" placeholder="Camera Id">
        </div>
      </div>
      <div class="form-group">
        <label for="inputFromDate" class="col-lg-2 control-label">From Date/Time</label>
        <div class="col-xs-3">
          <input type="text" class="form-control" id="datetimepicker1" placeholder="Date/Time">
        </div>
      </div>
      <div class="form-group">
        <label for="inputFromDate" class="col-lg-2 control-label">To Date/Time</label>
        <div class="col-xs-3">
          <input type="text" class="form-control" id="datetimepicker2" placeholder="Date/Time">
        </div>
      </div>
      <div class="form-group">
        <label for="inputSchedule" class="col-lg-2 control-label">Schedule</label>
        <div id="cloud-recording-calendar-wrap">
          <div id="cloud-recording-calendar">
            <span id="cloud-recording-collaps"><span class="glyphicon glyphicon-chevron-down"></span></span>
          </div>
        </div>
      </div>
      <% @intervals = [
          [ "All", "all" ],
          [ "1 per min", "1" ],
          [ "1 per 5 min", "5" ],
          [ "1 per 10 min", "10" ],
          [ "1 per 20 min", "20" ],
          [ "1 per 30 min", "30" ],
          [ "1 per hour", "60" ],
          [ "1 per 2 hours", "120" ],
          [ "1 per 6 hours", "360" ],
          [ "1 per 12 hours", "720" ],
          [ "1 per day", "1440" ],
        ]
      %>
      <div class="form-group">
        <label for="select" class="col-lg-2 control-label">Interval</label>
        <div class="col-xs-3">
          <%= select_tag "Interval", options_for_select(@intervals), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>
    <!-- END PAGE CONTENT-->
  </div>
</div>
<!-- END CONTENT -->

<script>
  $(document).ready(function () {
    window.initializSnapshotExtractors();
  });
</script>
